create database MeetUp
go
USE [MeetUp]
/****** Object:  Table [dbo].[Appointment]    Script Date: 19-09-2018 11:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOn] [smalldatetime] NULL,
	[FromEmployeeId] [int] NULL,
	[ToEmployeeId] [int] NULL,
	[Date] [date] NULL,
	[FromTime] [time](7) NULL,
	[ToTime] [time](7) NULL,
	[Remark] [nvarchar](100) NULL,
	[ModifiedOn] [smalldatetime] NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 19-09-2018 11:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[EmployeeId] [int] NOT NULL,
	[EmployeeName] [nvarchar](50) NULL,
	[EmployeePhone] [numeric](10, 0) NULL,
	[EmployeeMailId] [nvarchar](max) NULL,
	[EmployeeAddress] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 19-09-2018 11:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[Password] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 19-09-2018 11:47:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] NOT NULL,
	[Status] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 
GO
INSERT [dbo].[Appointment] ([AppointmentId], [CreatedOn], [FromEmployeeId], [ToEmployeeId], [Date], [FromTime], [ToTime], [Remark], [ModifiedOn], [StatusId]) VALUES (1007, CAST(N'2018-09-19T11:28:00' AS SmallDateTime), 7006, 7001, CAST(N'2018-09-26' AS Date), CAST(N'12:00:00' AS Time), CAST(N'14:30:00' AS Time), N'hey', CAST(N'2018-09-19T11:29:00' AS SmallDateTime), 4)
GO
INSERT [dbo].[Appointment] ([AppointmentId], [CreatedOn], [FromEmployeeId], [ToEmployeeId], [Date], [FromTime], [ToTime], [Remark], [ModifiedOn], [StatusId]) VALUES (1008, CAST(N'2018-09-19T11:29:00' AS SmallDateTime), 7006, 7001, CAST(N'2018-09-26' AS Date), CAST(N'14:31:00' AS Time), CAST(N'22:30:00' AS Time), N'Check Repeaat', CAST(N'2018-09-19T11:29:00' AS SmallDateTime), 1)
GO
INSERT [dbo].[Appointment] ([AppointmentId], [CreatedOn], [FromEmployeeId], [ToEmployeeId], [Date], [FromTime], [ToTime], [Remark], [ModifiedOn], [StatusId]) VALUES (1009, CAST(N'2018-09-19T11:29:00' AS SmallDateTime), 7006, 7001, CAST(N'2018-09-27' AS Date), CAST(N'14:31:00' AS Time), CAST(N'22:30:00' AS Time), N'Hey', CAST(N'2018-09-19T11:29:00' AS SmallDateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
INSERT [dbo].[EmployeeDetails] ([EmployeeId], [EmployeeName], [EmployeePhone], [EmployeeMailId], [EmployeeAddress]) VALUES (7001, N'Samartha L S', CAST(9986781299 AS Numeric(10, 0)), N'samartha.sachu@gmail.com', N'Bangalore')
GO
INSERT [dbo].[EmployeeDetails] ([EmployeeId], [EmployeeName], [EmployeePhone], [EmployeeMailId], [EmployeeAddress]) VALUES (7002, N'Sachin L S', CAST(9686469649 AS Numeric(10, 0)), N'sachu26@gmail.com', N'Mumbai')
GO
INSERT [dbo].[EmployeeDetails] ([EmployeeId], [EmployeeName], [EmployeePhone], [EmployeeMailId], [EmployeeAddress]) VALUES (7003, N'Sujay S', CAST(9448686333 AS Numeric(10, 0)), N'sujay.isiri@gmail.com ', N'Sagara')
GO
SET IDENTITY_INSERT [dbo].[Login] ON 
GO
INSERT [dbo].[Login] ([LoginId], [EmployeeId], [Password]) VALUES (1, 7001, N'qwerty123')
GO
INSERT [dbo].[Login] ([LoginId], [EmployeeId], [Password]) VALUES (2, 7002, N'qwerty123')
GO
INSERT [dbo].[Login] ([LoginId], [EmployeeId], [Password]) VALUES (3, 7003, N'qwerty123')
GO
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
INSERT [dbo].[Status] ([StatusId], [Status]) VALUES (1, N'New')
GO
INSERT [dbo].[Status] ([StatusId], [Status]) VALUES (2, N'Accepted')
GO
INSERT [dbo].[Status] ([StatusId], [Status]) VALUES (3, N'Declined')
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([FromEmployeeId])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeId])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([ToEmployeeId])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeId])
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK__Login__EmployeeI__3C69FB99] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EmployeeDetails] ([EmployeeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK__Login__EmployeeI__3C69FB99]
GO
USE [master]
GO
